html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* header */
.header {
  background-color: rgb(129, 129, 223);
  text-align: left;
  width: 100%;
  line-height: 2.5rem;
  display: flex;
  flex-direction: row;
}

/* logo */
.small {
  width: 8rem;
  display: inline;
}

.heading {
  padding: 3rem;
  padding-left: 0.5rem;
  color: white;
  font-size: 3rem;
}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  line-height: 2rem;
}

/* createnote */
.createnote {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
  box-shadow: 0.06rem 0.06rem 0.5rem gray;
  width: 40rem;
  margin: 2rem auto;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
}

/* note */
.note {
  border: 1px solid white;
  border-radius: 1rem;
  box-shadow: 0.06rem 0.06rem 0.5rem gray;
  min-width: 31%;
  margin: 1rem;
  position: relative;
}

.note .title {
  margin: 1rem 0.5rem 0;
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
}

.note .content {
  margin: 0 0.5rem 1.5rem;
  font-weight: 200;
  font-size: 1.5rem;
}
.createnote:hover,
.note:hover {
  box-shadow: 0.1rem 0.1rem 0.7rem gray;
}

/* button */
Button {
  border: 1rem solid black;
  background-color: white;
  width: 5rem;
}

.algintoright {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.addtonote {
  position: absolute;
  bottom: -18px;
  right: 5px;
}

.main_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
